

#about {

    height: 95vh;
    background-image: url('./assets/galaxy.jpg') !important;
    background-size: cover;
    padding: 5%;
    padding-top: 4%;
    width: 70vw;
    margin: 0;
}
#about>img {
    display: none;
}

#about>p {
    font-size: 1.4vw;
    line-height: 150%;
    margin-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
}


#about>h1 {
    font-size: 2.8vw;
}

#scroll {
    filter: invert(1);
    position: fixed;
    margin: auto;
    bottom: 5%;
    left: 63%;
}

@media screen and (max-width: 1370px) {
    #about>p {
        font-size: 1.9vw;
        
    }
    #about>h1 {
        font-size: 3vw;
    }

}
@media screen and (max-width: 700px) {

    #about>p {
        font-size: 2.6vw;
        
    }
    #about>h1 {
        font-size: 4vw;
    }

}
@media screen and (max-width: 480px) {
    #about {
        margin: auto;
        padding-top: 20%;
        max-height: 70vh;
        width: 95vw;
    }
    #about>p {
        font-size: 2.4vw;
        
    }
    #about>h1 {
        font-size: 4vw;
    }

    #about>img {
        display: block;
        max-width: 30vw;
        max-height: 30vw;
        margin: auto
    }

}