

#about {

    height: 95vh;
    background-image: url('./assets/galaxy.jpg') !important;
    background-size: cover;
    padding: 5%;
    padding-top: 4%;
    width: 70vw;
    margin: 0;
}

#about>p {
    font-size: 1.4vw;
    line-height: 150%;
    margin-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
}


#about>h1 {
    font-size: 2.8vw;
}

#scroll {
    filter: invert(1);
    position: fixed;
    margin: auto;
    bottom: 5%;
    left: 63%;
}

@media screen and (max-width: 480px) {
    #about {
        margin: auto;
        padding-top: 20%;
        max-height: 50vh;
        width: 95vw;
    }
    #about>p {
        font-size: 3.0vw;
        
    }
    #about>h1 {
        font-size: 4vw;
    }

}