
#nav-menu {
    display: grid;
    grid-template: 1fr repeat(5, 1fr)/ 1fr;
    height: 30%;
    width: 25vw;
    position: sticky;
    top: 0;
    padding: 6%;
}


/*
10px = 2%
*/

.badge {
    background: linear-gradient(rgba(58, 45, 58, 0.15), rgb(76, 0, 255, 0.15));
    border: rgb(76, 0, 255) solid 1px;
    display: grid;
    grid-template: 3fr/ 1fr 3fr ;
    width: 60%;
    border-radius: 2.5%;
    margin: auto;
    padding: 3%;
    text-align: center;

}

.badge>* {
    margin: auto;
    font-size: 1.9vw;
}

.avatar {
    width: 125%;
    /* border: rgb(255, 255, 255) solid 2px; */
    border-radius: 46.4%;
}


#nav-menu>button, #nav-menu>a {
    margin: auto;
    border: none;
    text-align: center;
    color: white;
    text-decoration: none;

    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 50%;
    border: rgb(255, 255, 255) solid .5px;
    font-size: 1.0vw;
}

#nav-menu>a {

}
.badge:hover {
    background-color: rgba(240, 255, 255, 0.188);
}

button:hover, a:hover {
    background-color: rgb(76, 0, 255) !important;
}

.btn-blue {
    background-color: #0072b1 !important; 
}

.btn-bw {
    background-color: black !important;
}

@media screen and (max-width: 480px) {
    #nav-menu {
      display: none; /* The width is 100%, when the viewport is 800px or smaller */
    }
}
