#nav-menu {
    display: grid;
    grid-template: 1fr repeat(5, 1.3fr)/ 1fr;
    height: 43%;
    position: sticky;
    top: 0;
    padding: 30px;
}

#nav-menu>* {
  
}

.badge {
    background: linear-gradient(rgba(58, 45, 58, 0.15), rgb(76, 0, 255, 0.15));
    border: rgb(76, 0, 255) solid 1px;
    display: grid;
    grid-template: 3fr/ 1fr 5fr ;

    border-radius: 15px;
    margin: 10px;
    padding: 20px 25px;
    text-align: center;
    min-width: 370px;
}

.badge>* {
    margin: auto;
}

.avatar {
    width: 130px;
    /* border: rgb(255, 255, 255) solid 2px; */
    border-radius: 232px;
}


#nav-menu>button, #nav-menu>a {
    margin: auto;
    border: none;
    text-align: center;
    color: white;
    text-decoration: none;

    border-radius: 10px;
    height: 50px;
    width: 250px;
    border: rgb(255, 255, 255) solid .5px;
    font-size: 0.9rem;
}

#nav-menu>button {

}

#nav-menu>a {
    line-height:47px;
}
.badge:hover {
    background-color: rgba(240, 255, 255, 0.188);
}

button:hover, a:hover {
    background-color: rgb(76, 0, 255) !important;
}

.btn-blue {
    background-color: #0072b1 !important; 
}

.btn-bw {
    background-color: black !important;
}