{% extends "layout.html" %}
{% block content %}

<div class="bio">
    <img src="../static/student.png" class="clipart" alt="">
    <h1 class="titillium-web-bold">Who I Am</h1>
    <p class="titillium-web-light">I'm a recent <span style="color: #31b0ff;">Computer Science</span> graduate from Western Governors University, with a strong background in <span style="color: #31b0ff;">financial services</span>, and I am working as a Financial Customer Associate at Fidelity Investments.</p>
<!--    <p class="titillium-web-light">I specialize in the Defined Benefits space and consistently deliver top-tier customer satisfaction through problem-solving and analytical thinking.</p>-->
    <h1 class="titillium-web-bold">What's Next</h1>
    <p class="titillium-web-light">I envision applying my <span style="color: #31b0ff;">software engineering</span> skills so I can contribute to internal tools, client-facing platforms, and data-driven solutions. I’m especially excited about roles that let me combine my domain expertise in Defined Benefits with my technical skills</p>

    

<h1 class="titillium-web-bold">Technical Background</h3>
<div class="skills-container">
    <!-- Column 1: Languages -->
    <div class="skill-column titillium-web-light centered">
        <h3>Languages</h3>
        <ul>
            <li>Python</li>
            <li>SQL</li>
            <li>Java</li>
        </ul>
    </div>

    <!-- Column 2: Frameworks -->
    <div class="skill-column titillium-web-light centered">
        <h3>Tools and Frameworks</h3>
        <ul>
            <li>Flask</li>
            <li>Podman</li>
            <li>Angular</li>
        </ul>
    </div>

    <!-- Column 3: Education -->
    <div class="skill-column titillium-web-light centered">
        <h3>Education</h3>
        <ul>
            <li><strong>B.S. in Computer Science</strong> (2025)</li>
            <li><strong>ITIL 4</strong> (2024)</li>
            <li><strong>Linux Essentials LPI</strong> (2024)</li>
        </ul>
    </div>
</div>
    </div>
       <p class="titillium-web-light"><span style="color: #31b0ff;">If you'd like to contact me, feel free to send a message to me through LinkedIn or connect.</span></p>
                    <div class="vert-button centered">
                <button class="centered" onclick="window.location.href='https://www.linkedin.com/in/masonmike2001'">LinkedIn</button>
                </div>
</div>

{% endblock %}